<mat-dialog-content>
    <data-area [settings]="deliveryInfo"></data-area>
    <ng-container *ngIf="args.delivery.target && args.delivery.source">

        <data-area [settings]="pickupInfo"></data-area>
        <app-address-input [field]="args.delivery.$.pickupAddress"
            [(geocodeInformation)]="args.delivery.pickupAddressApiResult" [(city)]="args.delivery.pickupCity">
        </app-address-input>

        <data-area [settings]="dropOfInfo"></data-area>
        <app-address-input [field]="args.delivery.$.deliveryAddress"
            [(geocodeInformation)]="args.delivery.deliveryAddressApiResult" [(city)]="args.delivery.deliveryCity">
        </app-address-input>
        <data-area [settings]="finalInfo"></data-area>
    </ng-container>
</mat-dialog-content>
<mat-dialog-actions>


    <button type="button" mat-raised-button color="warning" (click)="cancel()">
        {{terms.cancel}}
    </button>

    <button mat-raised-button color="accent" (click)="confirm()">
        {{terms.ok}}
    </button>
    <button mat-raised-button (click)="showChanges()" *ngIf="!args.delivery.isNew()">
        הצג שינויים
    </button>

</mat-dialog-actions>