/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.table-bordered {
    border: 1px solid #ddd;
    border-spacing: 0;
    border-collapse: collapse;
}

.table-bordered > tr > th,
.table-bordered > tr > td,
.table-bordered * tr > th,
.table-bordered * tr > td {
    border: 1px solid #ddd;
    padding: 6px;
}
.table-bordered > tr > th,
.table-bordered * tr > th {
    border-bottom-width: 2px;
}

ins {
    color: green;
}
del {
    color: red;
}

.unread {
    font-weight: 700;
}
.archive {
    color: gray;
}
.deleted {
    text-decoration: line-through;
}
